

<div class="jumbotron">
  <h1 class="display-4">Welcome to Maptek</h1>
  <p class="lead">Maptek™ is a leading provider of innovative software, hardware and services for the mining industry. Founded 38 years ago, Maptek develops products which are used at more than 2000 sites in 85 countries. Products cover the whole mining cycle from exploration to reclamation..</p>
  <hr class="my-4">
<!--  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
  <a class="btn btn-primary" href="login" role="button">Login</a>

  <a class="btn btn-primary" href="register" role="button">Register</a>


</div>



<div class = 'jumbotron center' >
<!--<h1 class ="title">Welcome to Maptek</h1>-->
<%#str = "Login" %>
  <!--  change text color command-->

 <p style = "color:blue"> <%= "Not a Custom #{@str1} Button !!!" %> </p>


  <%#= link_to "home", root_path %>
<!--<p> <%#= link_to "Contact us","https://www.maptek.com/contact/index.html/" %></p>-->

<!--  this method show the full address, use for mail-->
<!--  <p> <%#= link_to "login", login_url %> </p>-->

<!--<a href="register">Register a new account</a>-->
</div>