
<!--<div class="jumbotron jumbotron-fluid">-->
<!--  <div class="container">-->
<!--    <p>Email Address:</p><%#= text_field_tag(:email, params[:email]) %><br />-->
<!--    <p>Password:</p><%#= password_field_tag(:password, params[:password]) %><br />-->

<!--    <dd><%#= submit_tag "Login" %></dd><br />-->
<!--    <div class="need-login">-->
      <%#= link_to "Do not have account? register nowï¼", "/register" %>
<!--  </div>-->
<!--</div>-->
<!--</div>-->