<div class="jumbotron jumbotron-fluid">
<h2 style="color: darkorange">Welcome to Test page</h2>
  <h2 style="color: blue">This page is for candidates exam</h2>
  <h3>Question 1:</h3>
  <b>Please use Ruby to write an </b><b style="color: #B00100"> Mathematical function</b>
  <b>which can realize Sum = X + Y.</b>

<div class="jumbotron jumbotron-fluid">
  <h3>Please input your code  blow </h3>
<div class="col-sm-10 controls">
  <textarea class="form-control" name="description" cols="50" rows="20" placeholder="Code text" data-fv-field="description"></textarea>
  <i class="form-control-feedback" data-fv-icon-for="description" style="display: none;"></i>
</div>
</div>
  <%= button_tag "Submit" %>
</div>