<div class="jumbotron jumbotron-fluid">
  <h1 style = "color: darkorange">Welcome to Administrator Page</h1>
  <p>In this page, you can manage the exam for candidates，review the exam and edit the questions !</p>
  <a class="btn btn-primary" href="homepage/index" role="button">Choose Candidates</a>
  <a class="btn btn-primary" href="homepage/index" role="button">Review Exam</a>
  <a class="btn btn-primary" href="homepage/index" role="button">Edit Questions</a>

</div>